
.popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
.popup-wrapper.opened {
  opacity: 1;
  overflow: auto;
  visibility: visible;
}
.popup-wrapper.opened .popup {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: auto;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.fw-reset, body {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

.fw-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fw-bg-color-white {
  background-color: #fff;
}

.fw-color-white, .button-orange {
  color: #fff;
}

.fw-bg-color-black-purple {
  background-color: #7c09b5;
}

.fw-color-black-purple {
  color: #7c09b5;
}

.fw-bg-color-gray-dark {
  background-color: #4d4d4d;
}

.fw-color-gray-dark {
  color: #4d4d4d;
}

.fw-bg-color-pencil {
  background-color: #dadada;
}

.fw-color-pencil {
  color: #dadada;
}

.fw-bg-color-light {
  background-color: #dbd5dc;
}

.fw-color-light {
  color: #dbd5dc;
}

.fw-bg-color-subscribe {
  background-color: #f9f9f9;
}

.fw-color-subscribe {
  color: #f9f9f9;
}

.fw-bg-color-shadow {
  background-color: #777;
}

.fw-color-shadow {
  color: #777;
}

.fw-bg-color-navy {
  background-color: #002844;
}

.fw-color-navy {
  color: #002844;
}

.fw-bg-color-water {
  background-color: #88a0aa;
}

.fw-color-water {
  color: #88a0aa;
}

.fw-bg-color-water-light {
  background-color: #94bbd6;
}

.fw-color-water-light {
  color: #94bbd6;
}

.fw-bg-color-blue, .button-orange:hover {
  background-color: #0ac6ff;
}

.fw-color-blue {
  color: #0ac6ff;
}

.fw-bg-color-dark-purple {
  background-color: #3F0051;
}

.fw-color-dark-purple {
  color: #3F0051;
}

.fw-bg-color-black-light {
  background-color: #323232;
}

.fw-color-black-light {
  color: #323232;
}

.fw-bg-color-gray-count {
  background-color: #4a4a4a;
}

.fw-color-gray-count {
  color: #4a4a4a;
}

.fw-bg-color-rose {
  background-color: #f18687;
}

.fw-color-rose {
  color: #f18687;
}

.fw-bg-color-light-grey {
  background-color: #f3f3f3;
}

.fw-color-light-grey {
  color: #f3f3f3;
}

.fw-bg-color-purple {
  background-color: #bd10e0;
}

.fw-color-purple {
  color: #bd10e0;
}

.fw-bg-color-gray-light {
  background-color: #d4d2d2;
}

.fw-color-gray-light {
  color: #d4d2d2;
}

.fw-bg-color-gray-lighter {
  background-color: #767676;
}

.fw-color-gray-lighter {
  color: #767676;
}

.fw-bg-color-gray-white {
  background-color: #3e3e3e;
}

.fw-color-gray-white {
  color: #3e3e3e;
}

.fw-bg-color-gray, .fw-popup-close {
  background-color: #333333;
}

.fw-color-gray {
  color: #333333;
}

.fw-bg-color-black, .list-page {
  background-color: #1a1a1a;
}

.fw-color-black {
  color: #1a1a1a;
}

.fw-bg-color-orange, .button-orange, .fw-popup-close:hover, .list-page:hover {
  background-color: #ff9700;
}

.fw-color-orange {
  color: #ff9700;
}

.fw-bg-color-dirty-blue {
  background-color: #1b2532;
}

.fw-color-dirty-blue {
  color: #1b2532;
}

.fw-bg-cover {
  background-size: cover;
}

.fw-bg-no-repeat {
  background-repeat: no-repeat;
}

.fw-bg-center {
  background-position: center center;
}

.fw-bg-fixed {
  background-attachment: fixed;
}

.fw-max-width-percent-100 {
  max-width: 100%;
}

.fw-width-auto {
  width: auto;
}

.fw-width-14 {
  width: 14px;
}

.fw-max-width-14 {
  max-width: 14px;
}

.fw-width-30 {
  width: 30px;
}

.fw-max-width-30 {
  max-width: 30px;
}

.fw-width-38 {
  width: 38px;
}

.fw-max-width-38 {
  max-width: 38px;
}

.fw-width-50 {
  width: 50px;
}

.fw-max-width-50 {
  max-width: 50px;
}

.fw-width-80 {
  width: 80px;
}

.fw-max-width-80 {
  max-width: 80px;
}

.fw-width-100 {
  width: 100px;
}

.fw-max-width-100 {
  max-width: 100px;
}

.fw-width-130 {
  width: 130px;
}

.fw-max-width-130 {
  max-width: 130px;
}

.fw-width-136 {
  width: 136px;
}

.fw-max-width-136 {
  max-width: 136px;
}

.fw-width-150 {
  width: 150px;
}

.fw-max-width-150 {
  max-width: 150px;
}

.fw-width-167 {
  width: 167px;
}

.fw-max-width-167 {
  max-width: 167px;
}

.fw-width-169 {
  width: 169px;
}

.fw-max-width-169 {
  max-width: 169px;
}

.fw-width-170 {
  width: 170px;
}

.fw-max-width-170 {
  max-width: 170px;
}

.fw-width-171 {
  width: 171px;
}

.fw-max-width-171 {
  max-width: 171px;
}

.fw-width-175 {
  width: 175px;
}

.fw-max-width-175 {
  max-width: 175px;
}

.fw-width-180 {
  width: 180px;
}

.fw-max-width-180 {
  max-width: 180px;
}

.fw-width-182 {
  width: 182px;
}

.fw-max-width-182 {
  max-width: 182px;
}

.fw-width-185 {
  width: 185px;
}

.fw-max-width-185 {
  max-width: 185px;
}

.fw-width-190 {
  width: 190px;
}

.fw-max-width-190 {
  max-width: 190px;
}

.fw-width-192 {
  width: 192px;
}

.fw-max-width-192 {
  max-width: 192px;
}

.fw-width-200 {
  width: 200px;
}

.fw-max-width-200 {
  max-width: 200px;
}

.fw-width-202 {
  width: 202px;
}

.fw-max-width-202 {
  max-width: 202px;
}

.fw-width-203 {
  width: 203px;
}

.fw-max-width-203 {
  max-width: 203px;
}

.fw-width-206 {
  width: 206px;
}

.fw-max-width-206 {
  max-width: 206px;
}

.fw-width-208 {
  width: 208px;
}

.fw-max-width-208 {
  max-width: 208px;
}

.fw-width-215 {
  width: 215px;
}

.fw-max-width-215 {
  max-width: 215px;
}

.fw-width-220 {
  width: 220px;
}

.fw-max-width-220 {
  max-width: 220px;
}

.fw-width-224 {
  width: 224px;
}

.fw-max-width-224 {
  max-width: 224px;
}

.fw-width-225 {
  width: 225px;
}

.fw-max-width-225 {
  max-width: 225px;
}

.fw-width-226 {
  width: 226px;
}

.fw-max-width-226 {
  max-width: 226px;
}

.fw-width-230 {
  width: 230px;
}

.fw-max-width-230 {
  max-width: 230px;
}

.fw-width-232 {
  width: 232px;
}

.fw-max-width-232 {
  max-width: 232px;
}

.fw-width-240 {
  width: 240px;
}

.fw-max-width-240 {
  max-width: 240px;
}

.fw-width-241 {
  width: 241px;
}

.fw-max-width-241 {
  max-width: 241px;
}

.fw-width-244 {
  width: 244px;
}

.fw-max-width-244 {
  max-width: 244px;
}

.fw-width-250 {
  width: 250px;
}

.fw-max-width-250 {
  max-width: 250px;
}

.fw-width-260 {
  width: 260px;
}

.fw-max-width-260 {
  max-width: 260px;
}

.fw-width-261 {
  width: 261px;
}

.fw-max-width-261 {
  max-width: 261px;
}

.fw-width-263 {
  width: 263px;
}

.fw-max-width-263 {
  max-width: 263px;
}

.fw-width-265 {
  width: 265px;
}

.fw-max-width-265 {
  max-width: 265px;
}

.fw-width-279 {
  width: 279px;
}

.fw-max-width-279 {
  max-width: 279px;
}

.fw-width-290 {
  width: 290px;
}

.fw-max-width-290 {
  max-width: 290px;
}

.fw-width-300 {
  width: 300px;
}

.fw-max-width-300 {
  max-width: 300px;
}

.fw-width-308 {
  width: 308px;
}

.fw-max-width-308 {
  max-width: 308px;
}

.fw-width-317 {
  width: 317px;
}

.fw-max-width-317 {
  max-width: 317px;
}

.fw-width-326 {
  width: 326px;
}

.fw-max-width-326 {
  max-width: 326px;
}

.fw-width-345 {
  width: 345px;
}

.fw-max-width-345 {
  max-width: 345px;
}

.fw-width-347 {
  width: 347px;
}

.fw-max-width-347 {
  max-width: 347px;
}

.fw-width-350 {
  width: 350px;
}

.fw-max-width-350 {
  max-width: 350px;
}

.fw-width-435 {
  width: 435px;
}

.fw-width-600 {
  width: 600px;
}

.fw-max-width-435 {
  max-width: 435px;
}

.fw-width-780 {
  width: 780px;
}

.fw-max-width-780 {
  max-width: 780px;
}

.fw-width-800 {
  width: 800px;
}

.fw-max-width-800 {
  max-width: 800px;
}

.fw-width-873 {
  width: 873px;
}

.fw-max-width-873 {
  max-width: 873px;
}

.fw-width-1-1, .list-block {
  width: 100%;
}

.fw-width-1-2 {
  width: 50%;
}

.fw-width-1-3 {
  width: 33.33333%;
}

.fw-width-2-3 {
  width: 66.66667%;
}

.fw-width-1-4 {
  width: 25%;
}

.fw-width-3-4 {
  width: 75%;
}

.fw-width-1-5 {
  width: 20%;
}

.fw-width-2-5 {
  width: 40%;
}

.fw-width-3-5 {
  width: 60%;
}

.fw-width-4-5 {
  width: 80%;
}

.fw-width-1-6 {
  width: 16.66667%;
}

.fw-width-5-6 {
  width: 83.33333%;
}

.fw-max-height-percent-100 {
  max-height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-1 {
  height: 1px;
}

.fw-max-height-1 {
  max-height: 1px;
}

.fw-min-height-1 {
  min-height: 1px;
}

.fw-height-5 {
  height: 5px;
}

.fw-max-height-5 {
  max-height: 5px;
}

.fw-min-height-5 {
  min-height: 5px;
}

.fw-height-13 {
  height: 13px;
}

.fw-max-height-13 {
  max-height: 13px;
}

.fw-min-height-13 {
  min-height: 13px;
}

.fw-height-14 {
  height: 14px;
}

.fw-max-height-14 {
  max-height: 14px;
}

.fw-min-height-14 {
  min-height: 14px;
}

.fw-height-10 {
  height: 10px;
}

.fw-max-height-10 {
  max-height: 10px;
}

.fw-min-height-10 {
  min-height: 10px;
}

.fw-height-20 {
  height: 20px;
}

.fw-max-height-20 {
  max-height: 20px;
}

.fw-min-height-20 {
  min-height: 20px;
}

.fw-height-30 {
  height: 30px;
}

.fw-max-height-30 {
  max-height: 30px;
}

.fw-min-height-30 {
  min-height: 30px;
}

.fw-height-40 {
  height: 40px;
}

.fw-max-height-40 {
  max-height: 40px;
}

.fw-min-height-40 {
  min-height: 40px;
}

.fw-height-50 {
  height: 50px;
}

.fw-max-height-50 {
  max-height: 50px;
}

.fw-min-height-50 {
  min-height: 50px;
}

.fw-height-80 {
  height: 80px;
}

.fw-max-height-80 {
  max-height: 80px;
}

.fw-min-height-80 {
  min-height: 80px;
}

.fw-height-225 {
  height: 225px;
}

.fw-max-height-225 {
  max-height: 225px;
}

.fw-min-height-225 {
  min-height: 225px;
}

.fw-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fw-grid-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fw-grid-bottom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-match {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.fw-grid-5 {
  margin-left: -5px;
  margin-bottom: -5px;
}
.fw-grid-5 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-10 {
  margin-left: -10px;
  margin-bottom: -10px;
}
.fw-grid-10 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-20 {
  margin-left: -20px;
  margin-bottom: -20px;
}
.fw-grid-20 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-25 {
  margin-left: -25px;
  margin-bottom: -25px;
}
.fw-grid-25 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-30 {
  margin-left: -30px;
  margin-bottom: -30px;
}
.fw-grid-30 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-40 {
  margin-left: -40px;
  margin-bottom: -40px;
}
.fw-grid-40 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-margin-auto {
  margin: auto;
}

.fw-bottom-25-inverse {
  bottom: 25px;
}

.fw-top-inverse-34 {
  top: -34px;
}

.fw-mt-30-percent {
  margin-top: 30%;
}

.fw-mt-auto {
  margin-top: auto;
}

.fw-mb-auto {
  margin-bottom: auto;
}

.fw-mr-auto {
  margin-right: auto;
}

.fw-ml-auto {
  margin-left: auto;
}

.fw-margin-5 {
  margin: 5px;
}

.fw-mt-5 {
  margin-top: 5px;
}

.fw-mb-5 {
  margin-bottom: 5px;
}

.fw-ml-5 {
  margin-left: 5px;
}

.fw-mr-5 {
  margin-right: 5px;
}

.fw-margin-8 {
  margin: 8px;
}

.fw-mt-8 {
  margin-top: 8px;
}

.fw-mb-8 {
  margin-bottom: 8px;
}

.fw-ml-8 {
  margin-left: 8px;
}

.fw-mr-8 {
  margin-right: 8px;
}

.fw-margin-10 {
  margin: 10px;
}

.fw-mt-10 {
  margin-top: 10px;
}

.fw-mb-10 {
  margin-bottom: 10px;
}

.fw-ml-10 {
  margin-left: 10px;
}

.fw-mr-10 {
  margin-right: 10px;
}

.fw-margin-12 {
  margin: 12px;
}

.fw-mt-12 {
  margin-top: 12px;
}

.fw-mb-12 {
  margin-bottom: 12px;
}

.fw-ml-12 {
  margin-left: 12px;
}

.fw-mr-12 {
  margin-right: 12px;
}

.fw-margin-13 {
  margin: 13px;
}

.fw-mt-13 {
  margin-top: 13px;
}

.fw-mb-13 {
  margin-bottom: 13px;
}

.fw-ml-13 {
  margin-left: 13px;
}

.fw-mr-13 {
  margin-right: 13px;
}

.fw-margin-15 {
  margin: 15px;
}

.fw-mt-15 {
  margin-top: 15px;
}

.fw-mb-15 {
  margin-bottom: 15px;
}

.fw-ml-15 {
  margin-left: 15px;
}

.fw-mr-15 {
  margin-right: 15px;
}

.fw-margin-17 {
  margin: 17px;
}

.fw-mt-17 {
  margin-top: 17px;
}

.fw-mb-17 {
  margin-bottom: 17px;
}

.fw-ml-17 {
  margin-left: 17px;
}

.fw-mr-17 {
  margin-right: 17px;
}

.fw-margin-20 {
  margin: 20px;
}

.fw-mt-20 {
  margin-top: 20px;
}

.fw-mb-20 {
  margin-bottom: 20px;
}

.fw-ml-20 {
  margin-left: 20px;
}

.fw-mr-20 {
  margin-right: 20px;
}

.fw-margin-22 {
  margin: 22px;
}

.fw-mt-22 {
  margin-top: 22px;
}

.fw-mb-22 {
  margin-bottom: 22px;
}

.fw-ml-22 {
  margin-left: 22px;
}

.fw-mr-22 {
  margin-right: 22px;
}

.fw-margin-25 {
  margin: 25px;
}

.fw-mt-25 {
  margin-top: 25px;
}

.fw-mb-25 {
  margin-bottom: 25px;
}

.fw-ml-25 {
  margin-left: 25px;
}

.fw-mr-25 {
  margin-right: 25px;
}

.fw-margin-30 {
  margin: 30px;
}

.fw-mt-30 {
  margin-top: 30px;
}

.fw-mb-30 {
  margin-bottom: 30px;
}

.fw-ml-30 {
  margin-left: 30px;
}

.fw-mr-30 {
  margin-right: 30px;
}

.fw-margin-34 {
  margin: 34px;
}

.fw-mt-34 {
  margin-top: 34px;
}

.fw-mb-34 {
  margin-bottom: 34px;
}

.fw-ml-34 {
  margin-left: 34px;
}

.fw-mr-34 {
  margin-right: 34px;
}

.fw-margin-35 {
  margin: 35px;
}

.fw-mt-35 {
  margin-top: 35px;
}

.fw-mb-35 {
  margin-bottom: 35px;
}

.fw-ml-35 {
  margin-left: 35px;
}

.fw-mr-35 {
  margin-right: 35px;
}

.fw-margin-40 {
  margin: 40px;
}

.fw-mt-40 {
  margin-top: 40px;
}

.fw-mb-40 {
  margin-bottom: 40px;
}

.fw-ml-40 {
  margin-left: 40px;
}

.fw-mr-40 {
  margin-right: 40px;
}

.fw-margin-50 {
  margin: 50px;
}

.fw-mt-50 {
  margin-top: 50px;
}

.fw-mb-50 {
  margin-bottom: 50px;
}

.fw-ml-50 {
  margin-left: 50px;
}

.fw-mr-50 {
  margin-right: 50px;
}

.fw-margin-60 {
  margin: 60px;
}

.fw-mt-60 {
  margin-top: 60px;
}

.fw-mb-60 {
  margin-bottom: 60px;
}

.fw-ml-60 {
  margin-left: 60px;
}

.fw-mr-60 {
  margin-right: 60px;
}

.fw-margin-70 {
  margin: 70px;
}

.fw-mt-70 {
  margin-top: 70px;
}

.fw-mb-70 {
  margin-bottom: 70px;
}

.fw-ml-70 {
  margin-left: 70px;
}

.fw-mr-70 {
  margin-right: 70px;
}

.fw-margin-80 {
  margin: 80px;
}

.fw-mt-80 {
  margin-top: 80px;
}

.fw-mb-80 {
  margin-bottom: 80px;
}

.fw-ml-80 {
  margin-left: 80px;
}

.fw-mr-80 {
  margin-right: 80px;
}

.fw-margin-95 {
  margin: 95px;
}

.fw-mt-95 {
  margin-top: 95px;
}

.fw-mb-95 {
  margin-bottom: 95px;
}

.fw-ml-95 {
  margin-left: 95px;
}

.fw-mr-95 {
  margin-right: 95px;
}

.fw-margin-100 {
  margin: 100px;
}

.fw-mt-100 {
  margin-top: 100px;
}

.fw-mb-100 {
  margin-bottom: 100px;
}

.fw-ml-100 {
  margin-left: 100px;
}

.fw-mr-100 {
  margin-right: 100px;
}

.fw-mt-inverse-1 {
  margin-top: -1px;
}

.fw-mb-inverse-1 {
  margin-bottom: -1px;
}

.fw-ml-inverse-1 {
  margin-left: -1px;
}

.fw-mr-inverse-1 {
  margin-right: -1px;
}

.fw-mt-inverse-3 {
  margin-top: -3px;
}

.fw-mb-inverse-3 {
  margin-bottom: -3px;
}

.fw-ml-inverse-3 {
  margin-left: -3px;
}

.fw-mr-inverse-3 {
  margin-right: -3px;
}

.fw-mt-inverse-5 {
  margin-top: -5px;
}

.fw-mb-inverse-5 {
  margin-bottom: -5px;
}

.fw-ml-inverse-5 {
  margin-left: -5px;
}

.fw-mr-inverse-5 {
  margin-right: -5px;
}

.fw-mt-inverse-7 {
  margin-top: -7px;
}

.fw-mb-inverse-7 {
  margin-bottom: -7px;
}

.fw-ml-inverse-7 {
  margin-left: -7px;
}

.fw-mr-inverse-7 {
  margin-right: -7px;
}

.fw-mt-inverse-10 {
  margin-top: -10px;
}

.fw-mb-inverse-10 {
  margin-bottom: -10px;
}

.fw-ml-inverse-10 {
  margin-left: -10px;
}

.fw-mr-inverse-10 {
  margin-right: -10px;
}

.fw-mt-inverse-12 {
  margin-top: -12px;
}

.fw-mb-inverse-12 {
  margin-bottom: -12px;
}

.fw-ml-inverse-12 {
  margin-left: -12px;
}

.fw-mr-inverse-12 {
  margin-right: -12px;
}

.fw-mt-inverse-15 {
  margin-top: -15px;
}

.fw-mb-inverse-15 {
  margin-bottom: -15px;
}

.fw-ml-inverse-15 {
  margin-left: -15px;
}

.fw-mr-inverse-15 {
  margin-right: -15px;
}

.fw-mt-inverse-20 {
  margin-top: -20px;
}

.fw-mb-inverse-20 {
  margin-bottom: -20px;
}

.fw-ml-inverse-20 {
  margin-left: -20px;
}

.fw-mr-inverse-20 {
  margin-right: -20px;
}

.fw-mt-inverse-25 {
  margin-top: -25px;
}

.fw-mb-inverse-25 {
  margin-bottom: -25px;
}

.fw-ml-inverse-25 {
  margin-left: -25px;
}

.fw-mr-inverse-25 {
  margin-right: -25px;
}

.fw-mt-inverse-30 {
  margin-top: -30px;
}

.fw-mb-inverse-30 {
  margin-bottom: -30px;
}

.fw-ml-inverse-30 {
  margin-left: -30px;
}

.fw-mr-inverse-30 {
  margin-right: -30px;
}

.fw-mt-inverse-45 {
  margin-top: -45px;
}

.fw-mb-inverse-45 {
  margin-bottom: -45px;
}

.fw-ml-inverse-45 {
  margin-left: -45px;
}

.fw-mr-inverse-45 {
  margin-right: -45px;
}

.fw-mt-inverse-95 {
  margin-top: -95px;
}

.fw-mb-inverse-95 {
  margin-bottom: -95px;
}

.fw-ml-inverse-95 {
  margin-left: -95px;
}

.fw-mr-inverse-95 {
  margin-right: -95px;
}

.fw-mt-inverse-130 {
  margin-top: -130px;
}

.fw-mb-inverse-130 {
  margin-bottom: -130px;
}

.fw-ml-inverse-130 {
  margin-left: -130px;
}

.fw-mr-inverse-130 {
  margin-right: -130px;
}

.fw-padding-0 {
  padding: 0px;
}

.fw-pt-0 {
  padding-top: 0px;
}

.fw-pb-0 {
  padding-bottom: 0px;
}

.fw-pl-0 {
  padding-left: 0px;
}

.fw-pr-0 {
  padding-right: 0px;
}

.fw-padding-5 {
  padding: 5px;
}

.fw-pt-5 {
  padding-top: 5px;
}

.fw-pb-5 {
  padding-bottom: 5px;
}

.fw-pl-5 {
  padding-left: 5px;
}

.fw-pr-5 {
  padding-right: 5px;
}

.fw-padding-8 {
  padding: 8px;
}

.fw-pt-8 {
  padding-top: 8px;
}

.fw-pb-8 {
  padding-bottom: 8px;
}

.fw-pl-8 {
  padding-left: 8px;
}

.fw-pr-8 {
  padding-right: 8px;
}

.fw-padding-10 {
  padding: 10px;
}

.fw-pt-10 {
  padding-top: 10px;
}

.fw-pb-10 {
  padding-bottom: 10px;
}

.fw-pl-10 {
  padding-left: 10px;
}

.fw-pr-10 {
  padding-right: 10px;
}

.fw-padding-12 {
  padding: 12px;
}

.fw-pt-12 {
  padding-top: 12px;
}

.fw-pb-12 {
  padding-bottom: 12px;
}

.fw-pl-12 {
  padding-left: 12px;
}

.fw-pr-12 {
  padding-right: 12px;
}

.fw-padding-15 {
  padding: 15px;
}

.fw-pt-15 {
  padding-top: 15px;
}

.fw-pb-15 {
  padding-bottom: 15px;
}

.fw-pl-15 {
  padding-left: 15px;
}

.fw-pr-15 {
  padding-right: 15px;
}

.fw-padding-20 {
  padding: 20px;
}

.fw-pt-20 {
  padding-top: 20px;
}

.fw-pb-20 {
  padding-bottom: 20px;
}

.fw-pl-20 {
  padding-left: 20px;
}

.fw-pr-20 {
  padding-right: 20px;
}

.fw-padding-25 {
  padding: 25px;
}

.fw-pt-25 {
  padding-top: 25px;
}

.fw-pb-25 {
  padding-bottom: 25px;
}

.fw-pl-25 {
  padding-left: 25px;
}

.fw-pr-25 {
  padding-right: 25px;
}

.fw-padding-27 {
  padding: 27px;
}

.fw-pt-27 {
  padding-top: 27px;
}

.fw-pb-27 {
  padding-bottom: 27px;
}

.fw-pl-27 {
  padding-left: 27px;
}

.fw-pr-27 {
  padding-right: 27px;
}

.fw-padding-30 {
  padding: 30px;
}

.fw-pt-30 {
  padding-top: 30px;
}

.fw-pb-30 {
  padding-bottom: 30px;
}

.fw-pl-30 {
  padding-left: 30px;
}

.fw-pr-30 {
  padding-right: 30px;
}

.fw-padding-35 {
  padding: 35px;
}

.fw-pt-35 {
  padding-top: 35px;
}

.fw-pb-35 {
  padding-bottom: 35px;
}

.fw-pl-35 {
  padding-left: 35px;
}

.fw-pr-35 {
  padding-right: 35px;
}

.fw-padding-40 {
  padding: 40px;
}

.fw-pt-40 {
  padding-top: 40px;
}

.fw-pb-40 {
  padding-bottom: 40px;
}

.fw-pl-40 {
  padding-left: 40px;
}

.fw-pr-40 {
  padding-right: 40px;
}

.fw-padding-45 {
  padding: 45px;
}

.fw-pt-45 {
  padding-top: 45px;
}

.fw-pb-45 {
  padding-bottom: 45px;
}

.fw-pl-45 {
  padding-left: 45px;
}

.fw-pr-45 {
  padding-right: 45px;
}

.fw-padding-50 {
  padding: 50px;
}

.fw-pt-50 {
  padding-top: 50px;
}

.fw-pb-50 {
  padding-bottom: 50px;
}

.fw-pl-50 {
  padding-left: 50px;
}

.fw-pr-50 {
  padding-right: 50px;
}

.fw-padding-60 {
  padding: 60px;
}

.fw-pt-60 {
  padding-top: 60px;
}

.fw-pb-60 {
  padding-bottom: 60px;
}

.fw-pl-60 {
  padding-left: 60px;
}

.fw-pr-60 {
  padding-right: 60px;
}

.fw-padding-65 {
  padding: 65px;
}

.fw-pt-65 {
  padding-top: 65px;
}

.fw-pb-65 {
  padding-bottom: 65px;
}

.fw-pl-65 {
  padding-left: 65px;
}

.fw-pr-65 {
  padding-right: 65px;
}

.fw-padding-70 {
  padding: 70px;
}

.fw-pt-70 {
  padding-top: 70px;
}

.fw-pb-70 {
  padding-bottom: 70px;
}

.fw-pl-70 {
  padding-left: 70px;
}

.fw-pr-70 {
  padding-right: 70px;
}

.fw-padding-75 {
  padding: 75px;
}

.fw-pt-75 {
  padding-top: 75px;
}

.fw-pb-75 {
  padding-bottom: 75px;
}

.fw-pl-75 {
  padding-left: 75px;
}

.fw-pr-75 {
  padding-right: 75px;
}

.fw-padding-80 {
  padding: 80px;
}

.fw-pt-80 {
  padding-top: 80px;
}

.fw-pb-80 {
  padding-bottom: 80px;
}

.fw-pl-80 {
  padding-left: 80px;
}

.fw-pr-80 {
  padding-right: 80px;
}

.fw-padding-85 {
  padding: 85px;
}

.fw-pt-85 {
  padding-top: 85px;
}

.fw-pb-85 {
  padding-bottom: 85px;
}

.fw-pl-85 {
  padding-left: 85px;
}

.fw-pr-85 {
  padding-right: 85px;
}

.fw-padding-82 {
  padding: 82px;
}

.fw-pt-82 {
  padding-top: 82px;
}

.fw-pb-82 {
  padding-bottom: 82px;
}

.fw-pl-82 {
  padding-left: 82px;
}

.fw-pr-82 {
  padding-right: 82px;
}

.fw-padding-100 {
  padding: 100px;
}

.fw-pt-100 {
  padding-top: 100px;
}

.fw-pb-100 {
  padding-bottom: 100px;
}

.fw-pl-100 {
  padding-left: 100px;
}

.fw-pr-100 {
  padding-right: 100px;
}

.fw-padding-140 {
  padding: 140px;
}

.fw-pt-140 {
  padding-top: 140px;
}

.fw-pb-140 {
  padding-bottom: 140px;
}

.fw-pl-140 {
  padding-left: 140px;
}

.fw-pr-140 {
  padding-right: 140px;
}

.fw-padding-150 {
  padding: 150px;
}

.fw-pt-150 {
  padding-top: 150px;
}

.fw-pb-150 {
  padding-bottom: 150px;
}

.fw-pl-150 {
  padding-left: 150px;
}

.fw-pr-150 {
  padding-right: 150px;
}

.fw-padding-350 {
  padding: 350px;
}

.fw-pt-350 {
  padding-top: 350px;
}

.fw-pb-350 {
  padding-bottom: 350px;
}

.fw-pl-350 {
  padding-left: 350px;
}

.fw-pr-350 {
  padding-right: 350px;
}

.fw-flex-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fw-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fw-flex > * {
  min-width: 0;
}
.fw-flex.fw-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fw-flex.fw-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.fw-flex.fw-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fw-flex.fw-flex-wrap-no {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.fw-flex.fw-flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fw-flex.fw-flex-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.fw-flex.fw-flex-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.fw-flex.fw-flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.fw-flex.fw-flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.fw-flex.fw-flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.fw-flex.fw-flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.fw-flex.fw-flex-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.fw-flex .fw-flex-shrink-1 {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.fw-flex .fw-flex-grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.fw-flex .fw-flex-shrink-2 {
  -ms-flex-negative: 2;
  flex-shrink: 2;
}
.fw-flex .fw-flex-grow-2 {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.fw-flex .fw-flex-shrink-3 {
  -ms-flex-negative: 3;
  flex-shrink: 3;
}
.fw-flex .fw-flex-grow-3 {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}
.fw-flex .fw-flex-shrink-4 {
  -ms-flex-negative: 4;
  flex-shrink: 4;
}
.fw-flex .fw-flex-grow-4 {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}
.fw-flex .fw-flex-shrink-5 {
  -ms-flex-negative: 5;
  flex-shrink: 5;
}
.fw-flex .fw-flex-grow-5 {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}
.fw-flex .fw-flex-shrink-no {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.fw-flex .fw-flex-grow-no {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.fw-flex-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fw-fz-0 {
  font-size: 0px;
}

.fw-fz-10 {
  font-size: 10px;
}

.fw-fz-11 {
  font-size: 11px;
}

.fw-fz-12 {
  font-size: 12px;
}

.fw-fz-13 {
  font-size: 13px;
}

.fw-fz-14 {
  font-size: 14px;
}

.fw-fz-15 {
  font-size: 15px;
}

.fw-fz-16 {
  font-size: 16px;
}

.fw-fz-17 {
  font-size: 17px;
}

.fw-fz-18 {
  font-size: 18px;
}

.fw-fz-20 {
  font-size: 20px;
}

.fw-fz-22 {
  font-size: 22px;
}

.fw-fz-23 {
  font-size: 23px;
}

.fw-fz-25 {
  font-size: 25px;
}

.fw-fz-28 {
  font-size: 28px;
}

.fw-fz-30 {
  font-size: 30px;
}

.fw-fz-33 {
  font-size: 33px;
}

.fw-fz-34 {
  font-size: 34px;
}

.fw-fz-35 {
  font-size: 35px;
}

.fw-fz-36 {
  font-size: 36px;
}

.fw-fz-38 {
  font-size: 38px;
}

.fw-fz-40 {
  font-size: 40px;
}

.fw-fz-44 {
  font-size: 44px;
}

.fw-fz-46 {
  font-size: 46px;
}

.fw-fz-48 {
  font-size: 48px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-34 {
  line-height: 34px;
}

.fw-line-height-40 {
  line-height: 40px;
}

.fw-line-height-50 {
  line-height: 50px;
}

.fw-line-height-1-2 {
  line-height: 1.2;
}

.fw-line-height-1-3 {
  line-height: 1.3;
}

.fw-line-height-1-35 {
  line-height: 1.35;
}

.fw-line-height-1-5 {
  line-height: 1.5;
}

.fw-line-height-1-7 {
  line-height: 1.7;
}

.fw-line-height-2 {
  line-height: 2;
}

.fw-line-height-1 {
  line-height: 1;
}

.fw-line-height-1-0 {
  line-height: 1.0;
}

.fw-line-height-0-88 {
  line-height: 0.88;
}

.fw-line-height-1-38 {
  line-height: 1.38;
}

.fw-font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.fw-font-futura {
  font-family: futura, sans-serif, arial;
}

.fw-font-roboto {
  font-family: Roboto, sans-serif, arial;
}

.fw-font-myriad, body {
  font-family: "MyriadProRegular", sans-serif, arial;
}

.fw-font-robotocn {
  font-family: "Roboto Cn", sans-serif, arial;
}

.fw-font-light {
  font-weight: 300;
}

.fw-font-500 {
  font-weight: 500;
}

.fw-font-normal {
  font-weight: normal;
}

.fw-font-italic {
  font-style: italic;
}

.fw-font-bold {
  font-weight: bold;
}

.fw-font-semi-bold {
  font-weight: 600;
}

.fw-font-extra-bold {
  font-weight: 800;
}

.fw-text-300 {
  font-weight: 300;
}

.fw-text-400 {
  font-weight: normal;
}

.fw-text-500 {
  font-weight: 500;
}

.fw-text-600 {
  font-weight: 600;
}

.fw-text-800 {
  font-weight: 800;
}

.fw-border-none {
  border: none;
}

.fw-border-width-1 {
  border-width: 1px;
}

.fw-border-width-2 {
  border-width: 2px;
}

.fw-border-width-3 {
  border-width: 3px;
}

.fw-border-width-4 {
  border-width: 4px;
}

.fw-border-width-5 {
  border-width: 5px;
}

.fw-border-radius-3 {
  border-radius: 3px;
}

.fw-border-radius-percent-3 {
  border-radius: 3%;
}

.fw-border-radius-5 {
  border-radius: 5px;
}

.fw-border-radius-percent-5 {
  border-radius: 5%;
}

.fw-border-radius-7 {
  border-radius: 7px;
}

.fw-border-radius-percent-7 {
  border-radius: 7%;
}

.fw-border-radius-10 {
  border-radius: 10px;
}

.fw-border-radius-percent-10 {
  border-radius: 10%;
}

.fw-border-radius-20 {
  border-radius: 20px;
}

.fw-border-radius-percent-20 {
  border-radius: 20%;
}

.fw-border-radius-50 {
  border-radius: 50px;
}

.fw-border-radius-percent-50 {
  border-radius: 50%;
}

.fw-border-radius-60 {
  border-radius: 60px;
}

.fw-border-radius-percent-60 {
  border-radius: 60%;
}

.fw-border-color-white {
  border-color: #fff;
}

.fw-border-color-black-purple {
  border-color: #7c09b5;
}

.fw-border-color-gray-dark {
  border-color: #4d4d4d;
}

.fw-border-color-pencil {
  border-color: #dadada;
}

.fw-border-color-light {
  border-color: #dbd5dc;
}

.fw-border-color-subscribe {
  border-color: #f9f9f9;
}

.fw-border-color-shadow {
  border-color: #777;
}

.fw-border-color-navy {
  border-color: #002844;
}

.fw-border-color-water {
  border-color: #88a0aa;
}

.fw-border-color-water-light {
  border-color: #94bbd6;
}

.fw-border-color-blue {
  border-color: #0ac6ff;
}

.fw-border-color-dark-purple {
  border-color: #3F0051;
}

.fw-border-color-black-light {
  border-color: #323232;
}

.fw-border-color-gray-count {
  border-color: #4a4a4a;
}

.fw-border-color-rose {
  border-color: #f18687;
}

.fw-border-color-light-grey {
  border-color: #f3f3f3;
}

.fw-border-color-purple {
  border-color: #bd10e0;
}

.fw-border-color-gray-light {
  border-color: #d4d2d2;
}

.fw-border-color-gray-lighter {
  border-color: #767676;
}

.fw-border-color-gray-white {
  border-color: #3e3e3e;
}

.fw-border-color-gray {
  border-color: #333333;
}

.fw-border-color-black {
  border-color: #1a1a1a;
}

.fw-border-color-orange {
  border-color: #ff9700;
}

.fw-border-color-dirty-blue {
  border-color: #1b2532;
}

.fw-border-radius-bottom-none-10 {
  border-radius: 10px 10px 0 0;
}

.fw-border-radius-top-none-10 {
  border-radius: 0 0 10px 10px;
}

.fw-border-style-solid {
  border-style: solid;
}

.fw-border-style-solid-top {
  border-style: solid none none none;
}

.fw-border-style-solid-right {
  border-style: none solid none none;
}

.fw-border-style-solid-bottom {
  border-style: none none solid none;
}

.fw-border-style-solid-left {
  border-style: none none none solid;
}

.fw-border-style-dashed {
  border-style: dashed;
}

.fw-border-style-dashed-top {
  border-style: dashed none none none;
}

.fw-border-style-dashed-right {
  border-style: none dashed none none;
}

.fw-border-style-dashed-bottom {
  border-style: none none dashed none;
}

.fw-border-style-dashed-left {
  border-style: none none none dashed;
}

.fw-border-style-dotted {
  border-style: dotted;
}

.fw-border-style-dotted-top {
  border-style: dotted none none none;
}

.fw-border-style-dotted-right {
  border-style: none dotted none none;
}

.fw-border-style-dotted-bottom {
  border-style: none none dotted none;
}

.fw-border-style-dotted-left {
  border-style: none none none dotted;
}

.fw-border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fw-hidden {
  display: none;
}

.fw-overflow-auto {
  overflow: auto;
}

.fw-visible {
  display: block;
}

.fw-clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.fw-float-left {
  float: left;
}

.fw-float-right {
  float: right;
}

.fw-text-capitalize {
  text-transform: capitalize;
}

.fw-text-lowercase {
  text-transform: lowercase;
}

.fw-text-uppercase {
  text-transform: uppercase;
}

.fw-text-decoration-none, .button-orange {
  text-decoration: none;
}

.fw-text-underline {
  text-decoration: underline;
}

.fw-text-underline-hover {
  text-decoration: none;
}
.fw-text-underline-hover:hover {
  text-decoration: underline;
}

.fw-text-line-through {
  text-decoration: line-through;
}

.fw-text-line-through-hover {
  text-decoration: none;
}
.fw-text-line-through-hover:hover {
  text-decoration: line-through;
}

.fw-text-dashed {
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-dashed-hover {
  text-decoration: none;
}
.fw-text-dashed-hover:hover {
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-center {
  text-align: center;
}

.fw-text-left {
  text-align: left;
}

.fw-text-right {
  text-align: right;
}

.fw-opacity-5 {
  opacity: 0.5;
}

.fw-opacity-7 {
  opacity: 0.7;
}

.fw-bottom-25-px {
  bottom: 25px;
}

.fw-dashed-link {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
.fw-dashed-link:hover {
  border-color: transparent;
}

.fw-absolute {
  position: absolute;
}

.fw-relative, .ul-breadcrumbs li {
  position: relative;
}

.fw-top-0 {
  top: 0;
}

.fw-top-30 {
  top: 30;
}

.fw-top-100-percent {
  top: 100%;
}

.fw-bottom-0 {
  bottom: 0;
}

.fw-bottom-25 {
  bottom: 25;
}

.fw-bottom-100-percent {
  bottom: 100%;
}

.fw-left-0 {
  left: 0;
}

.fw-left-100-percent {
  left: 100%;
}

.fw-right-0 {
  right: 0;
}

.fw-right-100-percent {
  right: 100%;
}

.fw-box-shadow {
  border: solid 1px #ececec;
}

.fw-transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fw-z-index-1 {
  z-index: 1;
}

.fw-z-index-9999 {
  z-index: 9999;
}

.fw-text-nowrap {
  white-space: nowrap;
}

.fw-list-style-none {
  list-style: none;
}

body {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-orange {
  border: 1px Solid transparent;
}

.button-orange:hover {
  cursor: pointer;
  border: 1px Solid #fff;
}

.fw-cursor-pointer {
  cursor: pointer;
}

.checkbox__detector {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #CCCCCC;
  height: 18px;
  width: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.checkbox__detector:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 8px;
  height: 4px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  margin-top: -2px;
  opacity: 0;
}

input:checked + .checkbox__detector {
  background-color: #2F9935;
  border-color: #2F9935;
}
input:checked + .checkbox__detector:after {
  opacity: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.input-white {
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px Solid white;
  text-align: center;
  padding: 5px;
}
.input-white::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-white:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-white::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.input-white::placeholder {
  color: #fff;
  opacity: 1;
}

.fw-popup-close:hover {
  cursor: pointer;
}

.container-popup {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.collapse_menu .collapse_menu--icon, .vertical_nav {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.vertical_nav {
  position: fixed;
  left: -265px;
  top: 39px;
  bottom: 0;
  width: 265px;
  background: #fff;
  z-index: 1;
  padding-top: 10px;
  box-shadow: -1px 3px 5px rgba(0,0,0,0.5);
  overflow: auto;
}

.item-block-child {
  display: none;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.item-block {
  padding-top: 50px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.item-block:hover .item-block-child {
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.vertical_nav__closed {
  left: -265px !important;
}

.vertical_nav__opened {
  left: 0 !important;
  overflow: auto;
}

.home-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-screen, .service-screen, .project-screen, .project-page-screen, .project-about-screen, .contact-screen {
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.home-screen, .service-screen, .project-screen, .contact-screen {
  background: url("images/backgrounds/home.png") no-repeat center top/cover;
  background-attachment: fixed;
  width: 100%;
}

.service-screen, .project-screen {
  background: url("images/backgrounds/service.png") no-repeat center top/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
}

.project-screen {
  background: url("images/backgrounds/project.png") no-repeat center top/cover;
  background-attachment: fixed;
}

.contact-screen {
  background: url("images/backgrounds/contacts.png") no-repeat center top/cover;
  background-attachment: fixed;
}

.service-item {
  text-align: center;
}
.mobile-logo{
  display: block;
}
.map-block {
  top: 0;
  right: 0;
  position: relative;
  height: 400px;
  margin-bottom: 90px;
  margin-left: -15px;
  margin-right: -15px;
}

.project-page-screen {
  background: url("images/backgrounds/project-page.png") no-repeat center top/cover;
  background-attachment: fixed;
}

.project-about-screen {
  background: url("images/backgrounds/about.jpg") no-repeat center top/cover;
  background-attachment: fixed;
}

.shadow {
  -webkit-box-shadow: 3px 0px 10px -3px black;
  box-shadow: 3px 0px 10px -3px black;
}

.down-arrow::after, .up-arrow::after {
  border: 5px solid transparent;
  border-left: 5px solid #1a1a1a;
  content: "";
  position: absolute;
  top: 18px;
  margin-left: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle--active .down-arrow::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 13px;
}

.images-post {
  width: 225px;
  height: 225px;
  line-height: 220px;
  text-align: center;
}
.images-post img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.images-services{
  line-height: 75px;
  text-align: center;
}
.images-services img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.project-info {
  width: 100%;
  padding-right: 0;
  padding-bottom: 50px;
}

.list-page:hover {
  cursor: pointer;
}

.toggle_menu {
  height: 40px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  box-shadow:  0px -1px 5px rgba(0,0,0,0.5);
}

.toggle_menu i {
  display: block;
  font-size: 80px;
}

.menu--item {
  position: relative;
  min-height: 40px;
  line-height: 40px;
}

.menu {
  position: relative;
  margin-top: 100px;
  bottom: 40px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.ul-breadcrumbs li::before {
  border: 4px solid transparent;
  border-left: 4px solid #ff9700;
  content: "";
  position: absolute;
  top: 7px;
  margin-left: -15px;
}

.menu {
  position: relative;
  margin-top: 100px;
  bottom: 40px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu li {
  position: relative;
  min-height: 40px;
  line-height: 40px;
}

.menu a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 100px;
  color: #1a1a1a;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}
.menu a::before {
  border: 4px solid transparent;
  border-left: 4px solid #1a1a1a;
  content: "";
  position: absolute;
  top: 16px;
  margin-left: -15px;
}

.menu a:hover::before {
  border-left: 4px solid #ff9700;
}
.current-menu-item a::before {
  border-left: 4px solid #ff9700;
}

.menu--label {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 110px;
}
.menu--label::before {
  border: 4px solid transparent;
  border-left: 4px solid #1a1a1a;
  content: "";
  position: absolute;
  top: 16px;
  margin-left: -15px;
}

.menu--label:hover::before {
  border-left: 4px solid #ff9700;
}

.menu--link {
  display: block;
  overflow: hidden;
  font-size: 0.875rem;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.header {
  background: #fff;
  z-index: 2;
}

.content-block {
  height: auto;
}
.video_about{
  width: 100%;
}
.menu--link:hover, .menu--link:hover .menu--label {
  color: #000;
  background: #fff;
}
.logo-menu{
  margin-top: 40px;
}
.owl-stage-outer{
  width: 222px;
  overflow: hidden;
}

#owl-project {
  overflow: hidden;
  display: inline-block;
}
.owl-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin-top: 10px;
  width: 100%;
}
.bottom-menu{
  position: relative;
  font-size: 18px;
  padding-top: 0;
}
.button-mobile{
  font-size: 18px;
}
@media (max-width: 450px) {
  .project-item {
    text-align: center;
  }
}

@media (min-width: 800px) {
  #owl-project {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .owl-stage-outer{
    width: 666px;
    overflow: hidden;
  }

  .owl-nav{
    justify-content: center;
    display: inline-block;
    width: 38px;
    margin-left: 50px;
    margin-top: 5px;
  }
}

@media (min-width: 1130px) {
  .list-block {
    display: inline-block;
    width: 38px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .bottom-menu{
    font-size: 14px;
  }
  .mobile-logo{
    display: none;
  }
  .button-mobile{
    font-size: 14px;
  }
  .video_about{
    width: 600px;
  }
  .menu a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 110px;
    font-size: 0.875rem;
    color: #1a1a1a;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: underline;
  }
  .logo-menu{
    margin-top: 0px;
    margin: auto;
  }
  .map-block {
    position: absolute;
    height: 100%;
    width: calc(100% - 700px);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .content-block {
    height: 100%;
  }

  .project-info {
    width: 700px;
    padding-right: 70px;
  }

  .header {
    background: none;
  }

  .vertical_nav {
    left: 0;
    padding-top: 0px;
    align-content: space-between;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  }

  .toggle_menu {
    display: none;
  }

  .vertical_nav__minify {
    width: 50px;
  }

  .vertical_nav__minify .menu {
    overflow: visible;
  }

  .vertical_nav__minify .menu--label {
    display: none;
    position: absolute;
    top: 0;
    left: 50px;
    width: 150px;
    padding-left: 16px;
    padding-right: 16px;
    background: #e9e9e9;
    font-weight: 500;
  }

  .vertical_nav__minify .menu--item__has_sub_menu .menu--link:after {
    content: "";
  }

  .vertical_nav__minify .menu--subitens__opened .menu--label, .vertical_nav__minify .menu--subitens__opened .sub_menu {
    display: block;
  }

  .vertical_nav__minify .sub_menu {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 150px;
    background: #e9e9e9;
  }

  .vertical_nav__minify .sub_menu--link {
    padding-left: 16px;
  }

  .collapse_menu {
    position: absolute;
    bottom: 0;
    display: block;
  }

  .container {
    margin-left: 265px;
    margin-right: auto;
    padding-left: 90px;
    padding-right: 15px;

  }
  #owl-project {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .owl-stage-outer{
    width: 666px;
    overflow: hidden;
  }

  .owl-nav{
    justify-content: center;
    display: inline-block;
    width: 38px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .home-screen, .service-screen, .project-screen, .project-page-screen,.project-about-screen, .contact-screen {
    background-position-x: 265px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
  }

  .contact-screen {
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .service-screen, .project-screen {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .service-item {
    text-align: inherit;
  }

  .container-popup {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
}
.fw-vertical-top {
  vertical-align: top;
}

.fw-project-img {
  width: 225px;
  height: 225px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#burger-container {
  width: 25px;
  z-index: 9999;
  right: 0;
  position: fixed;
  margin-top: 2px;
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #1a1a1a;
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger-container.open span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

#burger-container.open span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
}

.wpcf7-submit {
  border: 1px Solid transparent!important;
  text-decoration: none!important;
  border-radius: 3px!important;
  font-size: 15px!important;
  padding-right: 27px!important;
  padding-left: 27px!important;
  padding-bottom: 8px!important;
  padding-top: 8px!important;
  background-color: #ff9700!important;
  color: #fff!important;
}
.wpcf7-submit:hover {
  cursor: pointer!important;
  background-color: #0ac6ff!important;
  border: 1px Solid #fff!important;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
  border: none!important;
  background: transparent!important;
  color: white!important;
  border-bottom: 1px Solid white!important;
  text-align: center!important;
  padding: 5px!important;
  font-family: "MyriadProRegular", sans-serif, arial;
  font-size: 18px!important;
  width: 100%!important;
}
.wpcf7 input[type="text"]::placeholder, .wpcf7 input[type="email"]::placeholder, .wpcf7 input[type="tel"]::placeholder {
  color: #fff!important;
  opacity: 1!important;
}

.wpcf7-list-item-label{
  width:200px!important;
  font-size: 15px;
  line-height: 1.35;
}
.wpcf7-list-item{
  width:200px!important;
}

div.wpcf7 .ajax-loader {
  visibility: hidden;
  display: block;
  background-image: none;
  border: none;
  font-size: 15px;
  color: #fff;
  margin: 10px 0 -40px 0;
  vertical-align: middle;
  text-align: center;
  width: auto;
}

div.wpcf7-mail-sent-ok {
  border: none;
}

div.wpcf7-mail-sent-ng {
  border: none;
}

div.wpcf7-spam-blocked {
  border: none;
}

div.wpcf7-validation-errors {
  border: none;
}

div.wpcf7-response-output {
  background: #fff;
  font-size: 15px;
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: -50px;
  margin-top: 40px;
  padding: 15px;
}

div.wpcf7 .ajax-loader::after {
  content: 'Подождите...';
}
.wpcf7-list-item input{
  display: none;
}

span.wpcf7-not-valid-tip{
  color: #fff;
}

.owl-carousel {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-carousel.owl-loaded {
  opacity: 1;
}

.owl-item {
  float: left;
}